[Desktop Entry]
Comment=System Management Tool
Exec=/home/orange/wowlol/simplesystemmanager/packaging/start-manager
Icon=SystemManager
Name=SystemManager
Type=Application
Terminal=true
