[Desktop Entry]
Categories=System;Utility;
Comment=System Management Tool
Exec=/usr/bin/systemmanager-start
Icon=SystemManager
Name=SystemManager
Type=Application
Terminal=true
